output/
/bin
*__pycache__*
tmp
*.json
*.onnx
!*.swagger.json
.apollo-base-config
*.log
./deploy.sh
./main.go
webui/node_modules
dashboard/node_modules
!webui/*.json
!dashboard/*.json
extern
go-tmp-env
README_draft.md