// app global css in SCSS form

html,
body
  min-height: 100vh
  width: 100%

  h1,h2,h3,h4,h5
    margin: 0

.outer-bg
  height: 91vh
  background: $white
.outer-container
  width: 90%
  margin: 0 auto
  padding-top: 40px