apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: kube-system
  name: entrance
  annotations:
    "sidecar.jaegertracing.io/inject": "true"
spec:
  replicas: 2
  selector:
    matchLabels:
      app: entrance
  template:
    metadata:
      labels:
        app: entrance
    spec:
      containers:
        - name: entrance
          # image: web3eye/entrance:latest
          image: coastlinesss/entrance:latest
          imagePullPolicy: Always
          volumeMounts:
            - name: service-config
              mountPath: /etc/Entrance
          env:
            - name: ENV_CLUSTER_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
      volumes:
        - name: service-config
          configMap:
            name: entrance-config
---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  namespace: kube-system
  name: strip-entrance-prefix
spec:
  stripPrefix:
    prefixes:
      - /api/entrance
---
apiVersion: v1
kind: Service
metadata:
  namespace: kube-system
  name: entrance
spec:
  ports:
    - name: http
      port: 30150
      targetPort: 30150
    - name: grpc
      port: 30151
      targetPort: 30151
    - name: healthz
      port: 30152
      targetPort: 30152
  selector:
    app: entrance
